<tabset justified="true">
	<tab heading="BASIC PROPERTIES">
		<table class="table table-hover" style="width:300px;">
            <tr>
	            <th>Parameter</th>
	            <th>Value</th> 
            </tr>
            <tr ng-repeat="item in prof.val.basic_properties">
                <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                <td><div style="display:inline-block;" ng-bind-html="item.value"></div>&nbsp;<div style="display:inline-block;" ng-bind-html="item.units.html"></div></td>
            </tr>
        </table>
	</tab>
	<tab heading="GROSS PROPERTIES">
		<table class="table table-hover" style="width:300px;">
            <tr>
	            <th>Parameter</th>
	            <th>Value</th> 
            </tr>
            <tr ng-repeat="item in prof.val.gross_properties">
                <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
            	<td><div style="display:inline-block;" ng-bind-html="item.value"></div>&nbsp;<div style="display:inline-block;" ng-bind-html="item.units.html"></div></td>
            </tr>
        </table>
	</tab>
	<tab heading="CLASSIFICATIONS">
        <table class="table table-hover" style="width:300px;">
            <caption>Parameters</caption>
            <tr>
                <th>Parameter</th>
                <th>Value</th> 
            </tr>
            <tr ng-repeat="item in prof.val.classifications.compairison_parameters">
                <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                <td><div ng-bind-html="item.value"></div></td>
            </tr>
        </table>
        <!--
        <table class="table table-hover" style="width:300px;">
            <caption>Pure Compression</caption>
            <tr>
                <th>Parameter</th>
                <th>Value</th> 
            </tr>
            <tr>
                <td><div popover="{{prof.val.classifications.pure_compression.class.description}}" popover-trigger="mouseenter" ng-bind-html="prof.val.classifications.pure_compression.class.parameter.html"></div></td>
                <td><div ng-bind-html="prof.val.classifications.pure_compression.class.value"></div></td>
            </tr>
            <tr>
                <td><div popover="{{prof.val.classifications.pure_compression.class.description}}" popover-trigger="mouseenter" ng-bind-html="prof.val.classifications.pure_compression.class.parameter.html"></div></td>
                <td><div ng-bind-html="prof.val.classifications.pure_compression.class.value"></div></td>
            </tr>
        </table>
        -->
	</tab>
</tabset>