<tabset justified="true">
	<tab heading="BASIC PROPERTIES">
        <div class="row" style="height:30px;"></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th> 
                    </tr>
                    <tr ng-repeat="item in prof.val.basic_properties" ng-animate="'animate'">
                        <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                        <td><div style="display:inline-block;" ng-bind-html="item.value"></div>&nbsp;<div style="display:inline-block;" ng-bind-html="item.units.html"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6"  align="center">
                <img src="img/HE.png" style="width:70%;">
            </div>
        </div>
	</tab>
	<tab heading="GROSS PROPERTIES">
        <div class="row" style="height:30px;"></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th> 
                    </tr>
                    <tr ng-repeat="item in prof.val.gross_properties">
                        <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                        <td><div style="display:inline-block;" ng-bind-html="item.value"></div>&nbsp;<div style="display:inline-block;" ng-bind-html="item.units.html"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" align="center">
                <img src="img/HE.png" style="width:70%;">
            </div>
        </div>
	</tab>
	<tab heading="CLASSIFICATIONS">
        <div class="row" style="height:30px;"></div>
        <table class="table table-hover" style="width:50%;">
            <caption>Parameters</caption>
            <tr>
                <th>Parameter</th>
                <th>Value</th> 
            </tr>
            <tr ng-repeat="item in prof.val.classifications.compairison_parameters">
                <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                <td><div ng-bind-html="item.value"></div></td>
            </tr>
        </table>
        <!--
        <table class="table table-hover" style="width:300px;">
            <caption>Pure Compression</caption>
            <tr>
                <th>Parameter</th>
                <th>Value</th> 
            </tr>
            <tr>
                <td><div popover="{{prof.val.classifications.pure_compression.class.description}}" popover-trigger="mouseenter" ng-bind-html="prof.val.classifications.pure_compression.class.parameter.html"></div></td>
                <td><div ng-bind-html="prof.val.classifications.pure_compression.class.value"></div></td>
            </tr>
            <tr>
                <td><div popover="{{prof.val.classifications.pure_compression.class.description}}" popover-trigger="mouseenter" ng-bind-html="prof.val.classifications.pure_compression.class.parameter.html"></div></td>
                <td><div ng-bind-html="prof.val.classifications.pure_compression.class.value"></div></td>
            </tr>
        </table>
        -->
	</tab>
    <tab heading="RESISTANCES">
        <div class="row" style="height:30px;"></div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th> 
                    </tr>
                    <tr ng-repeat="item in prof.val.resistances">
                        <td><div popover="{{item.description}}" popover-trigger="mouseenter" ng-bind-html="item.parameter.html"></div></td>
                        <td><div style="display:inline-block;" ng-bind-html="item.value"></div>&nbsp;<div style="display:inline-block;" ng-bind-html="item.units.html"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6"  align="center">
                <img src="img/HE.png" style="width:70%;">
            </div>
        </div>
    </tab>
    <tab heading="CURVES">
        <div class="row" style="height:30px;"></div>
        <highchart id="ycurve" config="highchartsNgConfig"></highchart>
    </tab>
    <tab heading="DESIGN">
        <div class="row" style="height:30px;"></div>
    </tab>
</tabset>