<div id="selector" class="panel panel-default">
	<form class="form-vertical">
		<fieldset>
		    <legend>Select Profile</legend>
		    <div class="form-group">
			    <label for="type">Type</label>
		        <select class="form-control" ng-options="item for item in allprofiles.SectionTypes" ng-model="type" id="type" ng-change="updateType(type)"></select>
		    </div>
		    <div class="form-group">
			    <label for="profile">Profile</label>
		        <select class="form-control" ng-options="item.url as item.name for item in selectedType" ng-model="profile" id="profile" ng-change="updateContent(profile)"></select>
		    </div>
		    <div class="form-group">
			    <label for="steel">Steel</label>
		        <select class="form-control" ng-options="item for item in allprofiles.SteelGrades" ng-model="steel" id="steel"></select>
		    </div>
		</fieldset>
	</form>
</div>